<!DOCTYPE html>
<html>
<head>
	<title>Holiday API</title>
</head>
<body>
	<ul>
		<%= @holidays.each do |day| %>
			<li class="day <%= day.downcase.gsub(' ','-') %>"><%= day %></li>
		<% end %>
	</ul>
	<br>
	<ul>
		<%= @birth.each do |item| %>
			<li class="item <%= item.downcase.gsub(' ','-') %>"><%= item %></li>
		<% end %>
	</ul>
</body>
</html>
