<div class="container">
<h2><strong>Holidays</strong></h2>
<form class="form-horizontal">
  <div class="form group">
    <label for="year">Year</label>
    <input name="year" class="form-control" placeholder="2015" value="<%= params[:year] %>" type="number" required>
  </div>
  <div class="form group">
    <label for="month">Month</label>
    <input name="month" class="form-control" placeholder="10" value="<%= params[:month] %>" type="number" required>
  </div>
  <div class="form group">
    <label for="country">Country</label>
    <select name="country" class="form-control">
      <% %w(us gb be br).each do |country| %>
        <option value="<%= country %>" <%= 'selected="selected"' if params[:country] == country %> required><%= country.capitalize %></option>
      <% end %>
    </select>
  </div>
  <div class="form group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

<br><br>

<table class='table table-hover'>
	<tr>
		<th>Name</th>
		<th>Date</th>
	</tr>
  <% @holidays.each do |day| %>
	<tr>
		<td><%= day[0]['name'] %></td> 
		<td><%= day[0]['date'] %></td>
	</tr>
  <% end %>
</table>
</div>

