<h2>Holidays</h2>
<form>
    <label for="year">Year</label>
    <input name="year" value="<%= params[:year] %>" type="number">

    <label for="month">Month</label>
    <input name="month" value="<%= params[:month] %>" type="number">

    <label for="country">Country</label>
    <select name="country">
      <% %w(us gb be br).each do |country| %>
        <option value="<%= country %>" <%= 'selected="selected"' if params[:country] == country %>><%= country.capitalize %></option>
      <% end %>
    </select>
  	<button type="submit">Submit!</button>
</form>

<hr>

<table border='1'>
	<tr>
		<th>Name</th>
		<th>Date</th>
	</tr>
	<% @holidays.each do |day| %>
	<tr>
		<td class="day"><%= day[0]['name'] %></td> 
		<td><%= day[0]['date'] %></td>
	</tr>
	<% end %>
</table>

